<div >
  <button (click)="onStart()" [ngClass]="showWin()">
    <i class="fas fa-smile"
      *ngIf="this.score>=0&&this.score<90"
    ></i>
    <i class="fas fa-dizzy"
      *ngIf="this.score<=-1"
    ></i>
    <i class="fas fa-laugh-beam"
      *ngIf="this.score===90"
    ></i>
  </button>
  <table>
    <tr *ngFor="let grammi of minesGame; let i=index">
      <td 
        *ngFor="let keli of grammi; let j=index"
        (click)="showContent(i,j)"
        [ngClass]="{active: (this.minesGame[i][j].isOpen===true)?true:false}"
      >
        <a 
          [ngStyle]="{visibility: (this.minesGame[i][j].isOpen===true)?'visible':'hidden'}"
          *ngIf="this.minesGame[i][j].getHasMines()===false"
        >
          {{this.minesGame[i][j].getContent()}}
        </a>
        <i
          class="fas fa-bomb"
          [ngStyle]="{visibility: (this.minesGame[i][j].isOpen===true)?'visible':'hidden'}"
          *ngIf="this.minesGame[i][j].getHasMines()===true"
        ></i>
      </td>
    </tr>
  </table>
</div>